{% extends 'base.html' %}

{% block content %}
<h1>Pumpkin Pie Espresso Martinis</h1>
<div class="container">
    <h3>Ingredients</h3>
    <ul>
        <li>Double Shot of Espresso</li>
        <li>1 Tablespoon Brown Sugar (Swerve)</li>
        <li>4 Shots of Vodka</li>
        <li>1.5 Shots of Pumpkin Creamer</li>
    </ul>
</div>
<div class="container">
    <h3>Instructions</h3>
    <ol>
        <li>First, set your glasses in the freezer to chill.</li>
        <li>Brew your double espresso pod.</li>
        <li>Next, stir in the brown sugar to the hot espresso to mix well.</li>
        <li>Add ice to your shaker followed by all your ingredients.</li>
        <li>Shake well!</li>
        <li>Pour into your two martini glasses, top with pumpkin pie spice and enjoy!</li>
    </ol>
</div>
{% endblock %}